@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Pretendard, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 스크롤바 전체를 위한 스타일 */
  ::-webkit-scrollbar {
    width: 18px; /* 스크롤바의 너비 */
  }

  /* 스크롤바 핸들 (가로 스크롤바에서는 높이가 됨) */
  ::-webkit-scrollbar-thumb {
    background-color: #e5e7eb; /* 핸들의 색상을 설정 */
    border-radius: 12px; /* 핸들의 모서리를 둥글게 */
    border: 4px solid transparent; /* 투명한 경계선을 추가하여 내용과 핸들 사이의 간격을 생성 */
    background-clip: content-box; /* 내용 영역만 배경 색상을 적용 */
  }

  /* 스크롤바가 호버될 때 핸들의 스타일 */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* 핸들의 호버 색상 변경 */
  }

  /* 스크롤바 트랙 (핸들배경 부분) */
  ::-webkit-scrollbar-track {
    background: white; /* 트랙의 색상 */
  }
  /* 스크롤바 감추기 */
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  flex-direction: column; /* 요소들을 세로로 정렬 */
  align-items: center; /* 수직 방향 중앙 정렬 */
  justify-content: start; /* 수평 방향 맨위 정렬 */
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; /* 모든 페이지의 배경색을 흰색으로 설정 */
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('src/assets/fonts/PretendardVariable.ttf');
}

.xlregular {
  font-size: 58px;
  line-height: 87px;
  letter-spacing: -1.5%;
  font-weight: 400;
}

.xlmedium {
  font-size: 58px;
  line-height: 87px;
  letter-spacing: -1.5%;
  font-weight: 500;
}

.xlsemibold {
  font-size: 58px;
  line-height: 87px;
  letter-spacing: -1.5%;
  font-weight: 600;
}

.xlbold {
  font-size: 58px;
  line-height: 87px;
  letter-spacing: -1.5%;
  font-weight: 700;
}

.lgregular {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0%;
  font-weight: 400;
}

.lgmedium {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0%;
  font-weight: 500;
}

.lgsemibold {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0%;
  font-weight: 600;
}

.lgbold {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0%;
  font-weight: 700;
}

.mdregular {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25%;
  font-weight: 400;
}

.mdmedium {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25%;
  font-weight: 500;
}

.mdsemibold {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25%;
  font-weight: 600;
}

.mdbold {
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.25%;
  font-weight: 700;
}

.smregular {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  font-weight: 400;
}

.smmedium {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  font-weight: 500;
}

.smsemibold {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  font-weight: 600;
}

.smbold {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  font-weight: 700;
}

.xsregular {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  font-weight: 400;
}

.xsmedium {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  font-weight: 500;
}

.xssemibold {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  font-weight: 600;
}

.xsbold {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  font-weight: 700;
}

.bodylregular {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15%;
  font-weight: 400;
}

.bodylmedium {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15%;
  font-weight: 500;
}

.bodylsemibold {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15%;
  font-weight: 600;
}

.bodylbold {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15%;
  font-weight: 700;
}

.bodymdregular {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15%;
  font-weight: 400;
}

.bodymdmedium {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15%;
  font-weight: 500;
}

.bodymdsemibold {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15%;
  font-weight: 600;
}

.bodymdbold {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15%;
  font-weight: 700;
}

.bodysmregular {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25%;
  font-weight: 400;
}

.bodysmmedium {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25%;
  font-weight: 500;
}

.bodysmsemibold {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25%;
  font-weight: 600;
}

.bodysmbold {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25%;
  font-weight: 700;
}

.bodyxsregular {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25%;
  font-weight: 400;
}

.bodyxsmedium {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25%;
  font-weight: 500;
}

.bodyxssemibold {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25%;
  font-weight: 600;
}

.bodyxsbold {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25%;
  font-weight: 700;
}

/* md+Bold 추가 */
.mdPlusBold {
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0%;
  font-weight: 700;
}
